__pycache__
*.wav
.vscode
m4.txt
src/models/new_architecture/new_architecture.ipynb
src/models/enhanced_wav2vecenhanced_wav2vec/enhanced_wav2vec.ipynb
src/models/whisper_fine-tuned/wandb
src/models/whisper_fine_tuned/whisper_inference.py
src/models/whisper_fine_tuned/whisper_fine-tuned_locally.py
src/models/whisper_fine_tuned/whisper_fine-tuned.ipynb
src/models/whisper_fine_tuned/tiny/vocab.json
src/models/whisper_fine_tuned/tiny/training_args.bin
src/models/whisper_fine_tuned/tiny/trainer_state.json
src/models/whisper_fine_tuned/tiny/tokenizer_config.json
src/models/whisper_fine_tuned/tiny/special_tokens_map.json
src/models/whisper_fine_tuned/tiny/scheduler.pt
src/models/whisper_fine_tuned/tiny/rng_state.pth
src/models/whisper_fine_tuned/tiny/pytorch_model.bin
src/models/whisper_fine_tuned/tiny/preprocessor_config.json
src/models/whisper_fine_tuned/tiny/optimizer.pt
src/models/whisper_fine_tuned/tiny/normalizer.json
src/models/whisper_fine_tuned/tiny/merges.txt
src/models/whisper_fine_tuned/tiny/generation_config.json
src/models/whisper_fine_tuned/tiny/config.json
src/models/whisper_fine_tuned/tiny/added_tokens.json
src/models/whisper_fine_tuned/STTWhisper.py
src/models/whisper_fine_tuned/small/vocab.json
src/models/whisper_fine_tuned/small/training_args.bin
src/models/whisper_fine_tuned/small/trainer_state.json
src/models/whisper_fine_tuned/small/tokenizer_config.json
src/models/whisper_fine_tuned/small/special_tokens_map.json
src/models/whisper_fine_tuned/small/scheduler.pt
src/models/whisper_fine_tuned/small/rng_state.pth
src/models/whisper_fine_tuned/small/pytorch_model.bin
src/models/whisper_fine_tuned/small/preprocessor_config.json
src/models/whisper_fine_tuned/small/optimizer.pt
src/models/whisper_fine_tuned/small/normalizer.json
src/models/whisper_fine_tuned/small/merges.txt
src/models/whisper_fine_tuned/small/generation_config.json
src/models/whisper_fine_tuned/small/config.json
src/models/whisper_fine_tuned/small/added_tokens.json
model_state_dict_epoch_*
best_model_state_dict.pth
src/models/whisper_fine_tuned/base/added_tokens.json
src/models/whisper_fine_tuned/base/config.json
src/models/whisper_fine_tuned/base/generation_config.json
src/models/whisper_fine_tuned/base/normalizer.json
src/models/whisper_fine_tuned/base/merges.txt
src/models/whisper_fine_tuned/base/optimizer.pt
src/models/whisper_fine_tuned/base/preprocessor_config.json
src/models/whisper_fine_tuned/base/training_args.bin
src/models/whisper_fine_tuned/base/tokenizer_config.json
src/models/whisper_fine_tuned/base/special_tokens_map.json
src/models/whisper_fine_tuned/base/scheduler.pt
src/models/whisper_fine_tuned/base/rng_state.pth
src/models/whisper_fine_tuned/wandb/offline-run-20240107_065106-w8wxw2gk/files/conda-environment.yaml
src/models/whisper_fine_tuned/wandb/offline-run-20240107_065106-w8wxw2gk/files/wandb-metadata.json
src/models/whisper_fine_tuned/wandb/offline-run-20240107_065106-w8wxw2gk/logs/debug-internal.log
src/models/whisper_fine_tuned/base/pytorch_model.bin
src/models/whisper_fine_tuned/base/trainer_state.json
src/models/whisper_fine_tuned/base/vocab.json
